
@media screen and (min-width: 700px) and (max-width: 1000px){
  h1 {
  text-align: center;
  color: White;
  font-size: 50px;
  }
  h2{
   text-align: center;
   border: 4px darkblue;
   margin: 12px;
   padding: 4px;
   color: blue;
  }

  .Animalbio div {
    text-align: center;
    margin: 12px;
    border: 6px solid darkblue;
    padding: 20px;
    background-color: skyblue;
  }

  .column {
  width: 50%;
  float: right;
  }

  .center{
   display: block;
   margin-left: auto;
   margin-right: auto;

   width: 50%;
  }

  .sidebar{
    float: left;
    width:150px;
    margin-left: 10%;
    margin-top: 20%;
    font-size: 20px;
    border: 6px solid darkblue;
    padding: 20px;
    background-color: skyblue;
  }
   body{
     background-color: #2222FF;
   }
}
@media screen  and (max-width: 700px){
  h1 {
  text-align: center;
  color: White;
  font-size: 50px;
  }
  h2{
   text-align: center;
   border: 4px darkblue;
   margin: 12px;
   padding: 4px;
   color: blue;
  }

  .Animalbio div {
    text-align: center;
    margin: 12px;
    border: 6px solid darkblue;
    padding: 20px;
    background-color: skyblue;
  }

  .column {
  width: 50%;
  float: left;
  }

  .center{
   display: block;
   margin-left: auto;
   margin-right: auto;

   width: 50%;
  }

  .sidebar{
    float: right;
    width:150px;
    margin-left: 10%;
    margin-top: 20%;
    font-size: 20px;
    border: 6px solid darkblue;
    padding: 20px;
    background-color: skyblue;
  }
   body{
     background-color: yellow;
   }
}
